.main{
    width: 500px;
    height: 300px;
}

.parent{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 85px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 500px;
}